p {
text-align:center;
font-size:20px;
background-color:FireBrick;
color:white;
}
ol {
text-align:center;
color:FireBrick;
font-size:30px;
line-height:150%;
list-style:none;
font-weight:bold;
}
.menu-content{
	list-style: none;
	list-style-type: none;
	text-align: center;
	background: firebrick;
}
.menu-item{
	display: inline-block;
}
.menu-item__link{
	text-decoration: none;
	color: white;
	font-size: 20px;
}
.menu-item__link:hover{
	color: yellow;
}
.menu-item__link:active{
	color: green;
}
.film-title{
	color: #FFA07A;
	size: 50px;
	text-align: center;
	border-top: 1px solid;
	font-weight: bold;
}
.film-title-eng{
	background: white;
	font-family: Gugi, serif;
	color: firebrick;
	text-align: center;
	border-bottom: 1px solid;
}
.premiere-info{
	color: yellow;
	font-style: italic;
}
.film-img{
	width: 150px;
	margin-right: 5px;
	float: left;
	padding: 5px;
}
.film-info{
	height: auto;
}
.paragraph{
	height: 230px;
	padding-top: 10px;
  text-align: center;
}
.menu{
	text-align: center;
}